<!-- Signup template  -->

<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3 py-5">
      <div class="card">
        <form (ngSubmit)="registerFormSubmitted($event)">
          <div class="card-body">
            <h3 class="my-2 text-center">Signup here</h3>
            {{ user | json }}
            <div class="mt-2">
              <label for="name">Name</label>
              <input
                type="text"
                name="name"
                class="form-control"
                placeholder="Enter here"
                id="name"
                [(ngModel)]="user.name"
              />
            </div>

            <div class="mt-2">
              <label for="email">Email</label>
              <input
                type="text"
                name="email"
                id="email"
                class="form-control"
                placeholder="Enter here"
                [(ngModel)]="user.email"
              />
            </div>

            <div class="mt-3">
              <label for="password">Password</label>
              <input
                type="password"
                name="password"
                placeholder="Enter here"
                id="password"
                class="form-control"
                [(ngModel)]="user.password"
              />

              <div class="mt-2">
                <label for="about">Enter something about</label>
                <textarea
                  name="about"
                  class="form-control"
                  id="about"
                  cols="30"
                  rows="5"
                  #about
                  [(ngModel)]="user.about"
                ></textarea>
              </div>
            </div>

            <div class="container text-center mt-4">
              Already have an account <a [routerLink]="['/login']">login</a>
            </div>
            <div class="container mt-3 text-center">
              <button class="btn btn-primary btn-sm me-1">Signup</button>

              <button class="btn btn-danger btn-sm">Reset</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
